.topImage {
    width: 400%; /* Розтягує зображення на всю ширину контейнера */
    height: auto; /* Зберігає співвідношення сторін */
    margin-bottom:  1px; /* Відступ між зображенням і вмістом */
    margin-top: 30px;
  }