.topImage {
    width: 100%; /* Встановлює ширину зображення на 100% контейнера */
    height: auto; /* Зберігає співвідношення сторін */
    object-fit: cover; /* Перекриває контейнер без деформації зображення */
    border-radius: 10px; /* Закругляє кути зображення */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкий ефект тіні для зображення */
    margin-bottom: 1px; /* Відступ між зображенням і вмістом */
    margin-top: 30px; /* Відступ зверху */
}

