.nav {
    grid-area: n;
    background-color: rgb(68, 136, 123);
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f172a;
    
    }


    .item {
        color: rgb(182, 34, 34);
        
    }


    .item.active {
        color: gold;
    }