.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .friendsContainer, .usersContainer, .pendingRequestsContainer {
    margin-top: 20px;
    width: 100%;
  }
  
  .friendItem, .userItem, .requestItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .friendItem .avatar, .userItem .avatar, .requestItem .avatar {
    margin-right: 10px;
  }
  