/* index.css або App.css */
body {
  background-color: #26355c; /* Темний фон */
  color:  #26355c; /* Білий текст */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #8f9b91;
  color: #fd3535;
  min-height: 100vh;
  padding: 20px;
}
