.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr ;
}


 .dialogsItems   {
    padding: 60px;
 }


 .dialogsItems .active {
    color:rgb(228, 29, 29)
 }

.messages {
padding: 60px;
}



.messages .message {
padding: 10px;
}
